@import 'base/typography';
@import 'base/colors';
@import 'base/animations';
@import 'base/mixins';
@import 'components/Header/header';
@import 'components/AboutMe/aboutMe';
@import 'components/HomeWorkSection/homeWorkSection';
@import 'components/Footer/footer';
:root {
  background-image: url('https://i.imgur.com/QDQjf55.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: $font;
  color: $black;
}


body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

#app {
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: hsl(152, 87%, 76%);
}

::selection {
  color: rgb(0, 0, 0);
  background: hsl(152, 87%, 76%);
}

.icon {
  filter: invert(1);
}